---
import { Image } from "astro:assets";
import Facebook from "./src/assets/icons/facebook.svg";
import Instragram from "./src/assets/icons/instagram.svg";
---

<section aria-labelledby="footer">
  <footer
    class="flex justify-between items-center px-8 py-2 bg-benita-secondary text-white"
  >
    <div class="flex items-center gap-6 py-2">
      <a href="#">
        <Image src={Facebook} alt="benita Logo" width="25" height="25" />
      </a>
      <a href="#">
        <Image src={Instragram} alt="benita Logo" width="25" height="25" />
      </a>
    </div>

    <div>
      <p class="text-base text-benita-white-100">
        All Rights Reserved @ {new Date().getFullYear()}
      </p>
    </div>
  </footer>
</section>
